$font-family: "Roboto", sans-serif;
$font-size: 16px;
$text-color-dark: rgba(20, 20, 20, 0.9);
$text-color-light: rgba(245, 245, 245, 0.9);
$theme-color: #f4a259;

/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
    color: $text-color-dark;
    overflow-x: hidden;
}

section {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Navigation */
nav {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px 40px 10px 10px;
    z-index: 1;

    & ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    & li {
        display: inline-block;
        font-weight: 700;
        color: $text-color-light;
        padding: 5px 20px;
    }

    & a {
        color: $text-color-light;
        text-decoration: none;
        transition: color 0.1s ease;

        &:hover {
            cursor: pointer;
            color: darken($text-color-light, 10%);
        }
    }
}

/* Splash */
.splash {
    height: 100vh;
    font-size: 1em;
}

.splash-img-container {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

.splash-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.splash-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color-light;
    text-align: center;

    & h2 {
        font-size: 3.2em;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    }

    & h4 {
        font-size: 2em;
    }
}

.splash-button {
    display: grid;
    place-content: center;
    padding: 20px 25px;
    background-color: $theme-color;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 700;
    transition: all 0.2s ease-out;

    &:hover {
        cursor: pointer;
        background-color: lighten($theme-color, 10%);
    }
}

/* Services */
.services {
    & > h3 {
        padding: 30px 0 0 0;
        font-size: 2.5em;
        font-weight: 700;
        text-align: center;
    }

    & > p {
        padding: 0 0 20px;
        color: lighten($text-color-dark, 50%);
        text-align: center;
        font-size: 1.2em;
        font-weight: 400;
    }
}

.services-cell-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-cell {
    padding: 40px;
    flex: 0 0 25%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    & i {
        display: inline-block;
        padding: 5px;
        font-size: 5em;
        text-align: center;
        color: $theme-color;
    }

    & h2 {
        text-align: center;
        padding: 5px;
    }

    & p {
        color: lighten($text-color-dark, 50%);
        padding: 0 30 30 30;
    }
}

/* Portfolio */
.portfolio {
    background-color: rgba(0, 0, 0, 0.05);

    & > h3 {
        padding: 30px 0 0 0;
        font-size: 2.5em;
        font-weight: 700;
        text-align: center;
    }

    & > p {
        padding: 0 0 20px;
        color: lighten($text-color-dark, 50%);
        text-align: center;
        font-size: 1.2em;
        font-weight: 400;
    }
}

.portfolio-cell-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    place-content: center;
    gap: 10px;
}

.portfolio-cell {
    padding: 40px;
    grid-column: span 1;
    width: 100%;
    aspect-ratio: 0.8;

    & img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    & h3,
    h2 {
        position: relative;
        top: -5px;
        padding: 10px;
        margin: 0;
        text-align: center;
        background-color: #fff;
    }

    & h3 {
        color: lighten($text-color-dark, 50%);
        font-weight: 400;
        padding: 5px 0 20px 0;
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: center;

    & h4 {
        display: inline;
        padding: 20px 60px;
        color: lighten($text-color-dark, 50%);
        font-weight: 400;
    }

    & ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        & li {
            display: grid;
            place-content: center;
            width: 35px;
            height: 35px;
            margin: 0 5px;
            background-color: black;
            border-radius: 50%;

            & i{
                color: rgba(255,255,255,1);
            }
        }
    }
}

/* Media */
@media (max-width: 1168px) {
    .portfolio-cell-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    /* Splash */
    .splash {
        font-size: 0.6em;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .splash-button {
        font-size: 1.3em;
        padding: 15px 35px;
    }

    /* Services */
    .services-cell-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .services-cell {
        padding: 20px 40px;
        width: max(250px, 80%);
    }

    /* Portfolio */
    .portfolio-cell-wrapper {
        grid-template-columns: max(300px, 80%);
        place-content: center;
        font-size: 0.8em;
    }

    /* Footer */
    footer{
        & h4{
            padding: 20px 5px;
        }
    }
}
